h1{
	background-color: green;
	color: white;
	text-align: center;
	border-top: 1px solid black;
	
	}

h2{
	text-align: center;
	background-color: green;
	border-style: groove;
	border-color: purple;
	color: white;
}

h3{
	
	
	
	
	
}
body{
	background-color: white;
	
	
}

span{
	background-color: green;
	text-align: left;
	margin-right: 10px;
}
	
.logo{
	
	with: auto;
	height: auto;
	max-with: 150px;
	max-height: 150px;
	
}

.imageArticle{
	
	max-with: 400px;
	max-height: 400px;
	margin: auto;
	
}